body {
	line-height: 1.8;
}

.container-fluid {
	padding: 2.5% 10% 2.5% 10%;
}

.bg-grey {
	background-color: #f6f6f6;
}

.navbar {
	margin-bottom: 0;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
	font-size: 20px;
    margin-bottom: 20px;
  	color: #f4511e;
}

.slideanim {
	visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.thumbnail img {
	 min-height:100px; 
	 height:250px; 
}

.portfolio-item {
  margin-bottom: 30px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    margin: 5% 5% 5% 5%;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: inline-block;
    width: 50%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
	text-align: left;
    clear: both;
    margin-top: 1em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

#about p {
	font-size: 18px;
}

h2 {
	position:relative;
	font-size:2em;
}

h2:after{
	position:absolute;
	content:'';
	top:100%;
	height:1px;
	width:50px;
	left:0;
	right:0;
	margin:0 auto;
	background:#3498db;
}


#skills ul{
	display:block;
	margin-bottom: 20px;
	padding:0;
	/*max-width:800px;*/
}

#skills li{
	display:inline-block;
	margin:7px;
	padding:5px 10px;
	background:#e4e4ea;
	list-style:none;
	font-size: 1em;
}

@keyframes slide {
	0% {
	  opacity: 0;
	  transform: translateY(70%);
	} 
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(70%);
	} 
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0%);
	}
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
	  text-align: center;
	  margin: 25px 0;
	}
	.btn-lg {
	    width: 100%;
	    margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
.logo {
    font-size: 150px;
}
}